
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.App{
  position: relative;
  min-height: 140vh;
  height: 100%;
}
.banner{
  padding: 40px 20px 12px 20px;
  display: flex;
}

.m-auto{
  margin: 4px 0 !important;
}

@media screen and (max-width: 992px) {
 
  .form-section{
      width: 60%;
  }
}
@media screen and (max-width: 620px){
  .banner{
    display: grid;
  }
}
